%p
  %b Tipo Juntada:
  = @juntada.tipo

%fieldset
  %legend Processos que recebeu a juntada

  %p
  = render 'processos/processo', processo: @juntada.processo_principal


%fieldset
  %legend Processos que foram juntados

  %p
  = render @juntada.processos

