= semantic_form_for @despacho do |f|

  = f.input :conteudo

  = f.input :processo, :as => :select, collection: processo.all.map{|processo| [processo.numero_protocolo, processo.id]}, :input_html => { :class => "processos" }

  = f.submit 'Enviar'
