%p
  %b Número de Protocolo:
  = @despacho.processo.numero_protocolo
%p
  %b Data de Criação:
  = @despacho.processo.created_at.strftime("%d/%m/%y")

%p
  %b Tipo Solicitação:
  = @despacho.processo.tipo_solicitacao.descricao

%p
  %b Despacho:
  = @despacho.conteudo
