var processos = $("#tramitacao_processo_id");
processos.children().remove();
<% @processos.each do |processo| %>
  processos.append("<option value='<%= processo.id %>'><%= processo.numero_protocolo %></option>");
<% end %>
