%p
  %b Setor origem:
  = @tramitacao.setor_origem.nome
%p
  %b Setor destino:
  = @tramitacao.setor_destino.nome

%p
  %b Requerimentos:
  - for requerimento in @tramitacao.requerimentos
    %p
      = requerimento.numero_protocolo

