= render @processo

.tramitacoes
  Tramitações:
  - for tramitacao in @processo.tramitacoes
    .tramitacao
      %p
        %b Setor origem:
        = tramitacao.setor_origem.nome
        %b Setor destino:
        = tramitacao.setor_destino.nome

.despachos
  Despachos:
  - for despacho in @processo.despachos
    .despacho
    %p
      %b Conteudo:
      = despacho.conteudo
